#canvas {
    background-color: white;
}

#fsBtn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* #img-block {
    width: 96px;
    height: 96px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    bottom: 64px;
} */

#hero-img {
    width: 576px;
    height: 384px;
    position: relative;
    /* top: -576px; */
    top: 0px;
    /* left: 0px; */
    left: -96px;
    transform: scale(-1,1);
}

#jump-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 144px;
    height: 144px;
    /* скрываем все за границами блока */
    overflow: hidden;
    opacity: 0.5;
}

/* #jump-img {
    position: absolute;
    top: -144px;
    left: -144px;
    width: 864px;
    height: 576px;
    transform: scale(-1,1);
} */

#hit-block {
    position: absolute;
    top: 0;
    right: 0;
    width: 144px;
    height: 144px;
    /* скрываем все за границами блока */
    overflow: hidden;
    opacity: 0.5;
}

#hit-img {
    position: absolute;
    top: -452px;
    left: -442px;
    width: 864px;
    height: 576px;
    transform: scale(-1,1);
}

#jump-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 140px;
    height: 140px;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 50%;
}

#hit-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 140px;
    height: 140px;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 50%;
}

#background-img {
    position: absolute;
    left: 0;
    bottom: 64px;
    width: 100%;
}

#info {
    position: absolute;
    left: 64px;
    top: 96px;
    background-color: black;
    color: white;
    font-size: 20pt;
    padding: 20px;
}